<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
    <app-navbar></app-navbar>

    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img src="assets/img/motorBMV.jpg" class="img-fluid w-50">
                    </div>
                    <div class="col-4">
                        <h2>Mercedes Benz OM 602</h2>
                        <p>
                            En muchos motores OM602, la inyección de combustible es indirecta. Se utiliza una bomba de inyección en línea Bosch PES, 
                            con un regulador mecánico y un control de parada operado por vacío. La bomba se lubrica mediante una conexión a la circulación 
                            de aceite del motor y la bomba de elevación de combustible está montada en el lateral de la bomba de inyección.
                        </p>
                        <div class="row">
                            <div class="col-4">
                                <p>Potencia 110CV</p>
                            </div>
                            <div class="col-4">
                                <p>Motor de gasolina</p>
                            </div>
                            <div class="col-4">
                                <p>cilindrada de 999 cc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-9">
                                <h5 class="ms-5">Precio: 16</h5>
                            </div>
                            <div class="col-4">
                                <p>-</p>
                            </div>
                            <div class="col-4">
                               <p>1</p> 
                            </div>
                            <div class="col-4">
                                <p>+</p>
                            </div>
                            <div class="col-9">
                                <button class="btn btn-danger ms-5">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap">
                <div class="col-12">
                    <h2>TOTAL:16</h2>
                </div>
                <div class="col-12">
                    <button class="btn btn-warning text-center">Comprar</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>
</html>