<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <app-navbar></app-navbar>

    <section class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12 bg-dark text-light">
                <h2 class="text-center">Talleres en tu zona</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d48531.12506044103!2d-3.6831434910596896!3d40.51517381069107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1staller%20de%20coches!5e0!3m2!1ses!2ses!4v1684934121806!5m2!1ses!2ses" width="2000" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="img-fluid mb-4"></iframe>
            </div>
            <div class="col-8 my-2">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h3>Piezas a disposición</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/motor.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/frenado.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/embrague.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/escape.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                </div>
                <div class="row my-2 d-flex justify-content-center">
                    <div class="col-12 border-top border-2"></div>
                </div>
                <div class="row my-2 justify-content-center">
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/ruedas.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/carrocería.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/accesórios.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/climatización.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-dark my-4">
                <div class="row align-items-center">
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza2.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="col-6 col-md-2">
                        <a href="#"><img src="assets/img/pieza3.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="col-6 col-md-4 text-light">
                        <h3 class="ms-5">Beneficios del reacondicionado</h3>
                        <ul class="row">
                            <li class="col-6">Economico</li>
                            <li class="col-6">Garantía asegurada</li>
                            <li class="col-6">Renovable</li>
                            
                            <li class="col-6">Menor Contaminación</li>
                            <li class="col-6">Ayuda al Medio Ambiente</li>
                        </ul>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza4.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza5.jpg" class="img-fluid my-3"></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h3>Marcas asociadas</h3>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 border-end border-2">
                                <img src="assets/img/bosch.jpg" class="img-fluid w-50">
                            </div> 
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 border-end border-2 d-none d-md-block">
                                <img src="assets/img/hella.jpg" class="img-fluid w-50">
                            </div>
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 d-md-none">
                                <img src="assets/img/hella.jpg" class="img-fluid w-50">
                            </div>

                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 border-end border-2">
                                <img src="assets/img/vemo.jpg" class="img-fluid w-50">
                            </div> 
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 border-end border-2 d-none d-md-block">
                                <img src="assets/img/febi.png" class="img-fluid w-50">
                            </div>
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 d-md-none">
                                <img src="assets/img/febi.png" class="img-fluid w-50">
                            </div>

                            <div class="col-6 col-md-2 d-flex justify-content-center my-3 border-end border-2">
                                <img src="assets/img/sachs.jpg" class="img-fluid w-50">
                            </div>
                            <div class="col-6 col-md-2 d-flex justify-content-center my-3">
                                <img src="assets/img/beru.jpg" class="img-fluid w-50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>
</html>