<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <app-navbar></app-navbar>

    <section class="container-fluid">
        <div class="row">

            <!--<div class="col-12 d-flex justify-content-center">
                <div class="row w-100 justify-content-center">
                    <div class="col-12 h-2">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide d-slider">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner d-inner">
                              <div class="carousel-item active d-item" data-bs-interval="10000">
                                <img src="assets/img/robot.png" class="d-block w-100 d-img" alt="...">
                              </div>
                              <div class="carousel-item d-item" data-bs-interval="2000">
                                <img src="assets/img/robot.png" class="d-block w-100 d-img" alt="...">
                              </div>
                              <div class="carousel-item d-item">
                                <img src="assets/img/robot.png" class="d-block w-100 d-img" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                </div>
            </div>-->
            <div class="col-12 bg-mecanico">
                <p>Piezas y recambios reacondicionados</p>
            </div>
            <div class="col-12 my-2">
                <div class="row justify-content-center">
                    <!--<div class="col-6 col-md-2">
                        <a href="#"><img src="assets/img/macanico.jpg" class="d-block w-100"></a>
                    </div>-->
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/motor.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/frenado.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/embrague.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/escape.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <!--<div class="d-none d-md-block col-2">
                        <a href="#"><img src="assets/img/macanico.jpg" class="d-block w-100"></a>
                    </div>-->
                </div>
                <div class="row my-2 d-flex justify-content-center">
                    <div class="col-12 border-top border-2"></div>
                </div>
                <div class="row my-2 justify-content-center">
                    <!--<div class="col-6 col-md-2">
                        <a href="#"><img src="assets/img/macanico.jpg" class="d-block w-100"></a>
                    </div>-->
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/ruedas.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="#"><img src="assets/img/carrocería.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/accesórios.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <div class="d-none d-md-block col-3">
                        <a href="#"><img src="assets/img/climatización.jpg" class="d-block w-100 d-enim"></a>
                    </div>
                    <!--<div class="d-none d-md-block col-2">
                        <a href="#"><img src="assets/img/macanico.jpg" class="d-block w-100"></a>
                    </div>-->
                </div>
            </div>
            <div class="col-12 bg-dark my-4">
                <div class="row align-items-center">
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza2.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="col-5 col-md-2">
                        <a href="#"><img src="assets/img/pieza3.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="col-7 col-md-4 text-light">
                        <h3 class="ms-5">Beneficios del reacondicionado</h3>
                        <ul class="row">
                            <li class="col-6">Economico</li>
                            <li class="col-6">Garantía asegurada</li>
                            <li class="col-6">Renovable</li>
                            
                            <li class="col-6">Menor Contaminación</li>
                            <li class="col-6">Ayuda al Medio Ambiente</li>
                        </ul>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza4.jpg" class="img-fluid my-3"></a>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <a href="#"><img src="assets/img/pieza5.jpg" class="img-fluid my-3"></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="d-none d-md-block col-3 my-3 ">
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/8BxBewsM53E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="d-block"></iframe>
                        <!--<a href="#"><img src="assets/img/macanico.jpg" class="img-fluid"></a>-->
                    </div>
                    <div class="col-12 col-md-3 my-3">
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/rgjWKKAmc1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="d-block"></iframe>
                        <!--<a href="#"><img src="assets/img/macanico.jpg" class="img-fluid"></a>-->
                    </div>
                    <div class="col-12 col-md-3 my-3">
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/I4lA3NnTvyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="d-block"></iframe>
                        <!--<a href="#"><img src="assets/img/macanico.jpg" class="img-fluid"></a>-->
                    </div>
                    <div class="d-none d-md-block col-3 my-3">
                        <iframe width="450" height="315" src="https://www.youtube.com/embed/teTRM6i5uj8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="d-block"></iframe>
                        <!--<a href="#"><img src="assets/img/macanico.jpg" class="img-fluid"></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>
</html>