<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    
    <app-navbar></app-navbar>

    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <form (ngSubmit)="registrarUsuario()" [formGroup]="form" enctype="multipart/form-data" id="form_registro">
                    <div class="row justify-content-center">

                        <fieldset class="col-12 col-md-12 mt-2">
                            <legend>Nombre</legend>
                            <div class="input_group">
                                <label for="nombre" class="d-none">Nombre</label>
                                <input type="text"
                                    name="nombre"
                                    class="form-control"
                                    placeholder="Nombre"
                                    id="nombre_registro"
                                    formControlName="name">
                            </div>
                            <p id="error_nombre_registro" class="bg-danger" [hidden]="form.get('name')?.valid || form.get('name')?.pristine">
                                El nombre no puede estar vacio, ni llevar numeros, ni caracteres raros
                            </p>
                        </fieldset>

                        <fieldset class="col-12 col-md-12 mt-2">
                            <legend>Correo</legend>
                            <div class="input_group">
                                <label for="correo" class="d-none">Correo</label>
                                <input type="email"
                                    name="correo"
                                    class="form-control"
                                    placeholder="Correo"
                                    id="correo_registro"
                                    formControlName="email">
                            </div>
                            <p id="error_correo_registro" class="text-danger" [hidden]="form.get('email')?.valid || form.get('email')?.pristine">
                                El email esta mal formado
                            </p>
                        </fieldset>

                        <fieldset class="col-12 col-md-12 mt-2">
                            <legend>Contraseña</legend>
                            <div class="input_group">
                                <label for="contraseña" class="d-none">Contraseña</label>
                                <input type="password"
                                    name="contrasena"
                                    class="form-control"
                                    placeholder="Contraseña"
                                    id="contrasena_registro"
                                    formControlName="password">
                            </div>
                            <p id="error_contraseña_registro" class="text-danger" [hidden]="form.get('password')?.valid || form.get('password')?.pristine">
                                La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula
                            </p>
                        </fieldset>


                        <fieldset class="col-12 col-md-12 mt-2">
                            <legend>Foto</legend>
                            <div class="input_group">
                                <label for="foto" class="d-none">Foto</label>
                                <input type="file"
                                    name="foto"
                                    class="form-control"
                                    placeholder="Foto"
                                    id="foto_registro"
                                    formControlName="photo">
                            </div>
                        </fieldset>

                        <fieldset class="col-12 d-flex justify-content-center my-3">
                            <button type="submit" class="btn btn-warning d-flex justify-content-center" id="enviar_registro" [disabled]="!form.valid">Enviar</button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
        {{ form.get('password')?.value}}
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>
</html>