<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <app-navbar></app-navbar>

    <section class="container-fluid w-100">
        <div class="row">
            <div class="col-12">
                <div class="row bg-secondary d-ordenar align-items-center">
                    <div class="col-10 d-flex justify-content-around">
                        <a href="#" class="d-link">Motores</a>
                        <a href="#" class="d-link">Frenado</a>
                        <a href="#" class="d-link">Embrague</a>
                        <a href="#" class="d-link">Escape</a>
                        <a href="#" class="d-link">Ruedas</a>
                        <a href="#" class="d-link">Carrocería</a>
                        <a href="#" class="d-link">Accesórios</a>
                        <a href="#" class="d-link">Climatización</a>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <select>
                            <option selected>Ordenar Por</option>
                            <option>Precio Ascendente</option>
                            <option>Precio Descendente</option>
                            <option>Top ventas</option>
                            <option>Ofertas</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>

        <div *ngFor="let producto of Productos" class="border d-flex flex-column justify-content-around m-3">
            <h1 class="text-center border p-3 bg-dark text-white">{{producto.nombre}}</h1>
            
            <div class="d-flex flex-row justify-content-around align-items-center">
                <div class="col-6 d-flex flex-column" id="infoProducto">
                    <h2>Precio: {{producto.precio}}€</h2>
                    <h2>Unidades disponibles: {{producto.stock}}</h2>
                    <div id="botones" class="col-12 d-flex flex-row mt-3">
                        <button class="btn btn-primary m-2">Comprar</button>
                        <button class="btn btn-primary m-2">Añadir al carrito</button>
                    </div>
                </div>
                <img src={{producto.foto}} alt="imagenProducto" class="col-2">
                
            </div>
        </div>
    </section>

    <footer>
        <app-footer></app-footer>
    </footer>

</body>
</html>
