<div class="container-fluid">
    <div class="row align-items-center mt-2">
        <div class="col-12 col-md-4 my-3">
            <div class="row">
                <div class="col-3 col-md-4 text-end">
                    <a class="link link-dark" style="text-decoration: none;" href="#">Aviso Legal</a>
                </div>
                <div class="col-5 col-md-4 text-center">
                    <a class="link link-dark" style="text-decoration: none;" href="#">Politica de privacidad</a>
                </div>
                <div class="col-4">
                    <a class="link link-dark" style="text-decoration: none;" href="#">Mapa del sitio</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-3">
            <div class="row align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <a href="https://twitter.com" target="_blank"><mat-icon svgIcon="twitter"></mat-icon></a>
                    <a href="https://www.instagram.com" target="_blank"><mat-icon svgIcon="instagram"></mat-icon></a>
                    <a href="https://www.pinterest.es" target="_blank"><mat-icon svgIcon="painterest"></mat-icon></a>
                    <a href="https://www.linkedin.com" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
                    <a href="https://www.whatsapp.com" target="_blank"><mat-icon svgIcon="whatsapp"></mat-icon></a>
                </div>
            </div> 
        </div>
        <div class="col-12 col-md-4 my-3">
            <div class="row">
                <div class="col-4">
                    <p>000 00 00 00</p>
                </div>
                <div class="col-5">
                    <p>cabi8@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>