<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="row w-100 justify-content-between align-items-start">
        <div class="col-6 col-md-4 w-25 d-flex justify-content-between">
          <img class="img-fluid w-50" src="assets/img/logo_cabi8.png">
        </div>
        <div class="col-6 col-md-6 d-flex justify-content-end flex-wrap">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarDropdown">
          <ul class="navbar-nav justify-content-between">
            <li class="nav-item">
              <a class="nav-link text-end" href="../home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-end" href="../users" *ngIf="isAdmin()">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-end" href="../contact">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-end" href="../product" *ngIf="isAdmin()">Producto</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 d-search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><mat-icon>search</mat-icon></button>
          </form>
          <div class="row w-100 justify-content-start mt-2 mt-md-0 ms-2">
            <div class="col-12 col-md-6 d-flex justify-content-end justify-content-md-start">
              <a href="../carrito" class="btn btn-outline-success" *ngIf="isUser()"><mat-icon>shopping_cart</mat-icon></a> 
              <a href="../login" class="btn btn-outline-success mx-2" *ngIf="!loggedIn">Acceder</a> 
              <a href="../signup" class="btn btn-outline-success mx-2" *ngIf="!loggedIn">Registrarse</a> 
              <a href="../ajustes" class="btn btn-outline-success mx-2" *ngIf="loggedIn">Ajustes</a> 
              <a href="#" class="btn btn-outline-success mx-2" (click)="logout($event)" *ngIf="loggedIn">Salir</a> 
              <!--<button class="btn btn-outline-success d-flex justify-content-center flex-wrap" id="icono" *ngIf="loggedIn">
                <mat-icon class="w-100">account_circle</mat-icon>
              </button>-->

            </div>
          </div> 
        </div>
            <!--<div class="row justify-content-end" id="case">
              <div class="col-7 col-md-6">
                <a mat-menu-item href="../login" class="btn btn-outline-success w-100" id="registro">Ajustes</a>
              </div>
              <div class="col-7 col-md-6 mt-2 mt-md-0">
                <a mat-menu-item href="#" (click)="logout($event)" class="btn btn-outline-success w-100" id="acceso">Salir</a>
              </div>
            </div>-->
        </div>
      </div>
    </div>
</nav>