<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="row w-100 justify-content-between align-items-start">
        <div class="col-6 col-md-4 w-25 d-flex justify-content-between">
          <img class="img-fluid w-50" src="assets/img/logo_cabi8.png">
        </div>
        <div class="col-6 col-md-6 d-flex justify-content-end flex-wrap">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarDropdown">
          <ul class="navbar-nav justify-content-between">
            <li class="nav-item">
              <a class="nav-link text-end" href="../home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-end" href="../users">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-end" href="../contact">Contacto</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link text-end" href="../landing">Landing</a>
            </li>-->
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 d-search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><mat-icon>search</mat-icon></button>
          </form>
          <div class="row w-100 justify-content-start mt-2 mt-md-0 ms-2">
            <div class="col-12 col-md-6 d-flex justify-content-end justify-content-md-start">
              <a href="../carrito" class="btn btn-outline-success"><mat-icon>shopping_cart</mat-icon></a> 
              <button class="btn btn-outline-success d-flex justify-content-center flex-wrap" id="icono">
                <mat-icon class="w-100">account_circle</mat-icon>
              </button>
            </div>
          </div> 
        </div>
        <div class="col-12 col-md-6 my-4">
          <div class="row justify-content-end">
            <div class="col-7 col-md-6">
              <a href="../login" class="btn btn-outline-success w-100" id="registro">Registrarse</a>
            </div>
            <div class="col-7 col-md-6 mt-2 mt-md-0">
              <a href="../signup" class="btn btn-outline-success w-100" id="acceso">Acceder</a>
            </div>
          </div>
      </div>
      </div>
      </div>
    </div>
</nav>